@import url('https://fonts.googleapis.com/css?family=Montserrat');

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: black;
}

.item-wrapper {
    padding-left: 10px;
}

.item-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
.item-quantity {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight:bold;
}
.item-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color:green;
    font-weight:bold;
}

#cart-total{
    background-color: #e6e6e6;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 50px;
    text-align: center;
}
#total-content{
    line-height:50px;
}
#order-total{
    font-weight:bold;
}

#finish-purchase{
    background-color: rgb(0,188,14);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 50px;
    text-align: center;
    font-weight:bold;
    cursor: pointer;
}
#finish-purchase-content{
    color:white;
    line-height:50px;
}

.navbar-brand img {
    width: 85%;
    height: auto;
}

.item-pic img {
    height: 80px;
    width: 80px;
}

.navbar-collapse .nav-item{
    margin-right: 10px
}

.navbar .nav-item {
    line-height: 1;
}

.dropdown-menu {
    width: 350px !important;
    height: 400px !important;
    overflow-y: auto;
    overflow-x: hidden;
}

li {
    list-style: none;
}

.navbar-icons {
    min-width: 190px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@media screen and (max-width: 990px) {
    .nav-link {
        font-size: 28px;
    }
    .item-name {
        font-size: 28px;
    }
    .item-quantity {
        font-size: 28px;
    }
    .item-price {
        font-size: 28px;
    }
    #total-text{
        display:none;
    }
    #cart-total{
        font-size: 28px;
    }
    #finish-purchase{
        font-size: 28px;
    }
}